{% extends 'nav.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/showstyle.css' %}">
    </head>
    <body>
      <div id="nav2">
        <h1>Students</h1>
      </div>
        <div id="code">
            <table>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>age</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>gender</th>
                    <th>Trcak_name</th>
                    <th>Operation</th>
                    <th>Operation</th>
                </tr>
            {% for i in stu  %}
            <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.mail}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.track_name}}</td>
                    <td><a href = "editstudents/{{ i.id }}" >Edit</a></td>
                    <td><a href = "deletestudents/{{ i.id }}">Delete</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
{% endblock content %}
